
.footer-section{border-top:1px solid #3c3c3c;color:#ffffff;margin-top:30px;padding:20px 0 20px;background:#333333}
.footer-section a{color:#ffffff}
.footer-section a:hover,.footer-section a:focus{color:#284898}

.meta-section{color:#ffffff;border-top:1px solid #2b2b2b;background-color:#333333;padding:10px 0}
.meta-section a{font-weight:bold;color:#ffffff}
.meta-section a:hover,.meta-section a:focus{color:#284898}
.meta-section .active a{color:#284898}
.meta-section ul,.meta-section p{margin:10px 0}
@media (min-width:992px){.meta-section ul,.meta-section p{margin:0}
.meta-section .copyright{text-align:right}
}

ul.reviews{list-style:none outside none;margin-left:28px}
li.c,ul.reviews li{margin:15px 0px}
.stars{background:url("/images/stars.png") no-repeat scroll left top transparent;display:inline-block;height:12px;margin:0px 5px 0px -68px;text-indent:-9999px;vertical-align:middle;width:63px}
.stars.stars-4{background-position:-13px 0}

.header {margin: 10px 5px;}

@media (max-width:991px){.header a img{max-height:32px;width:auto}
}
@media (min-width:1199px){.header a img{max-height:none;width:auto}
}
.body-bg{margin: auto;}
@media (min-width:768px){.body-bg{width:750px}
}
@media (min-width:992px){.body-bg{width:970px}
}
@media (min-width:1200px){.body-bg{width:1170px}
}
.latestTitle {margin-top: 25px; font-size: 16px; font-weight: bold; }
.latestSynopsis {margin: 10px 0px; }
.latestDate {margin-bottom: 25px; }
.main-section { margin: 10px; }
.newsArticles { list-style: none; padding: 0px;}
.newsArticles>li {padding:5px 0px}

h3 { margin-top: 20px; }